<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'signin.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body d-flex flex-column">

    {% include 'navbar.html' %}

    <div class="container mt-5 flex-grow-1">
        <h3 class="mb-3 text-white">Logowanie</h3>

        <form action="/signin/" method="post" class="row g-3">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="username" class="form-label text-white">Nazwa użytkownika *</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Nazwa użytkownika" required value="{{ request.POST.username|default:'' }}">
            </div>
            <div class="col-md-6">
                <label for="password" class="form-label text-white">Hasło *</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Hasło" required value="{{ request.POST.password|default:'' }}">
            </div>
            <div class="col-12">
                <button type="submit" class="btn rounded-3 border-light text-white"
                    style="background-color: #003463;">Zaloguj</button>
            </div>
        </form>
    </div>
</body>
<script src="" async defer></script>
<footer class="footer mt-auto fixed-bottom">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-primary d-flex justify-content-between align-items-center"
        role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</footer>
</html>